[2015-11-13 04:07] zenorocha commented on #3
http://codepen.io/gnomeontherun/pen/HJkCj

[2015-11-29 15:44] zenorocha opened #1 "Add ability to reorder columns"

[2015-11-29 15:44] zenorocha opened #2 "Request repo permission scope in order to get private events"

[2015-11-29 15:45] zenorocha opened #3 "Load next pages when reaching the bottom"

[2015-11-29 15:46] zenorocha opened #4 "Add event type filters"

[2015-11-30 01:42] henvic opened #5 "Highlight new notifications?"
Maybe something like add new notifications with a highlighted background or something so they can stand out? And only change to the default (non-highlighted notification) after a few second once the user has focused on the window? Something like that.

[2015-11-30 02:23] zenorocha opened #6 "Add ability to column width and font size, etc"
Include a default light theme and the possibility to create a custom theme

[2015-11-30 02:26] zenorocha opened #7 "Update input placeholders based on most popular data"
* User
* Repo
* Org

[2015-11-30 02:26] zenorocha opened #8 "Handle endpoint redirects"

[2015-11-30 02:43] zenorocha opened #9 "Add a tooltip for sidebar links"
Title attributes are ok for now but we need a proper solution in the future.

<img width="91" alt="screen shot 2015-11-30 at 12 48 48 am" src="https://cloud.githubusercontent.com/assets/398893/11462483/33f75884-96fc-11e5-9df4-86338b16bc35.png">

[2015-11-30 02:52] zenorocha opened #10 "Provide builds for Linux"

[2015-11-30 02:52] zenorocha opened #11 "Provide builds for Windows"

[2015-11-30 02:54] zenorocha commented on #5
Hey @henvic, there's definitely room for improvement on this. Thanks for sharing your feedback!

[2015-11-30 02:57] zenorocha opened #12 "Add blank slate for when all columns have been removed"

[2015-11-30 03:00] zenorocha opened #13 "Add keyboard shortcuts"

[2015-11-30 03:06] zenorocha opened #14 "Event time is not being updated"

[2015-11-30 03:40] zenorocha commented on #14
Fixed!

[2015-11-30 03:40] #14 closed

[2015-11-30 17:27] heldr opened #15 "Desktop APP - Copy/paste doesn't work on input fields"
Try to login pasting a password or create a new tab pasting a user profile.

[2015-11-30 17:30] obetomuniz opened #16 "Suggestions"
- Create issues in-app using the GH API
- Add title (when hover the icon) to each item inside the column. i.e.: Star, Comment, Fork, etc.
- Create Columns by Group. i.e.: Organizations Group Users Group, Repositories Group, etc.
- Allow notifications like the TweetDeck options (Desktop Notification, Sounds, etc.)
 - Notify new version (like Spotify)
 - Notify new column item
- Allow font resize
-

[2015-11-30 17:31] obetomuniz opened #17 "Allow edit column infos."

[2015-11-30 17:32] obetomuniz opened #18 "Fix the search icon when you try add something (How it will work?)"

[2015-11-30 17:37] zenorocha commented on #15
Thanks for reporting @heldr!

[2015-11-30 17:38] obetomuniz opened #19 "Enable copy / paste on all application (input fields and texts)"

[2015-11-30 17:41] zenorocha commented on #19
Duplicated from #19

[2015-11-30 17:41] #19 closed

[2015-11-30 17:42] zenorocha commented on #18
The search icon is only a static illustration, it doesn't add any value for now. Let me remove it in order to avoid confusion.

[2015-11-30 17:51] zenorocha commented on #18
Done!

[2015-11-30 17:51] #18 closed

[2015-11-30 17:52] zenorocha commented on #17
By "edit columns" you mean change the repository, user, or org name?

[2015-11-30 17:53] obetomuniz commented on #17
Yes @zenorocha

[2015-11-30 17:54] obetomuniz commented on #15
Doesn't work on item content too.

[2015-11-30 18:50] zenorocha commented on #16
- Create issues in-app using the GH API

Creating issues is just one feature between a huge number of possible actions that could be done inside the app. You could star a repo, quick comment on a issue, and many many more. As soon as we finish a good workflow regarding consuming information, we can move to actually performing actions.

- Add title (when hover the icon) to each item inside the colu

[2015-11-30 18:50] #16 closed

[2015-11-30 20:27] zenorocha commented on #15
Fixed on [1.0.0-alpha.1](https://github.com/devspace/devspace/releases/download/1.0.0-alpha.1/DevSpace-OSX.zip)!

/cc @henriquebastos

[2015-11-30 20:27] #15 closed

[2015-12-01 23:04] heldr commented on #15
:tea:

[2015-12-02 02:46] zenorocha commented on #7
Instead of having hard-coded placeholders when adding new columns. We're now fetching the most popular [users](https://github.com/search?q=followers%3A%3E1&type=Users&utf8=%E2%9C%93), [repos](https://github.com/search?q=followers%3A%3E1&type=Repositories&utf8=%E2%9C%93), and [orgs](https://github.com/showcases/open-source-organizations) and randomly using them as input placeholders.

[2015-12-02 02:46] #7 closed

[2015-12-03 19:18] lucianosousa commented on #5
:+1:

[2015-12-03 19:19] lucianosousa commented on #2
:+1:

[2015-12-08 13:29] zenorocha commented on #9
Done!

<img width="133" alt="screen shot 2015-12-08 at 5 29 08 am" src="https://cloud.githubusercontent.com/assets/398893/11656856/a7c382a8-9d6c-11e5-979d-c4f8a1fe36a5.png">

[2015-12-08 13:29] #9 closed

[2015-12-08 18:07] obetomuniz commented on #2
:+1:

[2015-12-09 16:56] luanmuniz commented on #1
:+1:

[2015-12-09 16:57] luanmuniz commented on #2
:+1:

[2015-12-09 17:34] luanmuniz opened #20 "After closing, window don't show up again"
In the Mac app, if i click on the close button the app close and it don't open again when i click on the icon at the Dock. I need to quit the app and open it again.
The application is open but i cant see the window.

[2015-12-09 20:14] obetomuniz commented on #20
:+1:

[2015-12-10 00:32] zenorocha commented on #2
@lucianosousa @obetomuniz @luanmuniz can you confirm that only organizations are not showing private events?

[2015-12-10 12:08] luanmuniz commented on #2
@zenorocha Yes. Organizations don't show events from private repositories.

[2015-12-10 12:10] cironunes opened #21 "Web app doesn't update automatically"
Using it on Chrome last version it doesn't seem to be updating the content

[2015-12-10 16:58] zenorocha commented on #21
Problem found and fixed! Thanks for @cironunes ;)

[2015-12-10 16:58] #21 closed

[2015-12-10 16:59] obetomuniz commented on #2
@zenorocha Yes. Organizations don't show private events, just for public repositories.

[2015-12-10 17:01] zenorocha commented on #2
Perfect. Renaming this issue...

[2015-12-10 20:04] luanmuniz commented on #2
@zenorocha Private repositories don't work either and the feed for users don't show private events as well.

[2015-12-11 18:12] zenorocha commented on #2
That's right, thanks @luanmuniz!

[2015-12-12 07:53] zenorocha commented on #20
Fixed on [v1.0.0-alpha.3](https://github.com/devspace/devspace/releases/tag/v1.0.0-alpha.3)!

[2015-12-12 07:53] #20 closed

[2015-12-12 07:54] zenorocha commented on #12
Done in [v1.0.0-alpha.3](https://github.com/devspace/devspace/releases/tag/v1.0.0-alpha.3)

<img width="350" alt="screen shot 2015-12-11 at 11 53 31 pm" src="https://cloud.githubusercontent.com/assets/398893/11760895/6d8fff96-a062-11e5-84b7-6429a6e1efc3.png">

[2015-12-12 07:54] #12 closed

[2015-12-12 09:29] zenorocha opened #22 "Reconnect app after going from offline back to online"

[2015-12-23 19:21] zenorocha commented on #22
Done in [v1.0.0-alpha.4](https://github.com/devspace/devspace/releases/tag/v1.0.0-alpha.4).

[2015-12-23 19:21] #22 closed

[2015-12-23 19:25] zenorocha opened #23 "Organizations do not show events from private repos"

[2015-12-23 19:27] zenorocha commented on #2
As of [v1.0.0-alpha.4](https://github.com/devspace/devspace/releases/tag/v1.0.0-alpha.4), DevSpace now shows private events for Home, User, and Repository columns.

Organization column still need to be done #23.

[2015-12-23 19:27] #2 closed

[2015-12-23 19:41] zenorocha commented on #22
![offline](https://cloud.githubusercontent.com/assets/398893/11983685/1f23606c-a96a-11e5-95d4-cde05e568b42.gif)

[2015-12-23 21:06] jaydson opened #24 "Interactions"
It will be great (and very useful) if users can interact with devspace.
By interaction I mean: commenting on issues, starring repos, following some user, etc.

[2015-12-23 21:16] jaydson opened #25 "Issues comments"
It would be so nice if issues comments were available on devspace interface.
I mean, not just the info that someone has commented.
Perhaps something like Tweetdeck does:
![screenshot from 2015-12-23 19 15 28](https://cloud.githubusercontent.com/assets/72206/11985215/94bfc8f8-a9a9-11e5-93dd-6d80721db8bc.png)

[2015-12-23 21:39] jaydson opened #26 "Github user profile box"
Again, like Tweetdeck, it would be cool having a user profile box:
![screenshot from 2015-12-23 19 35 04](https://cloud.githubusercontent.com/assets/72206/11985484/67d758b2-a9ac-11e5-9d79-51791461ef02.png)

We can have all user info on this box, like popular repos, maybe graphs, last starred repos, etc.

[2015-12-24 05:23] obetomuniz opened #27 "Grouping items by Users, Organizations, Repositories, etc."
Grouping items by Users, Organizations, Repositories and others like Twitter does with Lists

[2015-12-24 05:27] obetomuniz opened #28 "Create a system of friend invitation"
It also will be useful to retention of users (They will have a tool to spread the word about DevSpace :smile: )

[2015-12-24 05:28] obetomuniz commented on #26
:+1:

[2015-12-24 05:32] obetomuniz commented on #5
Desktop notifications also will be useful if I can configure it like we do in Slack.

[2015-12-24 12:43] luanmuniz commented on #2
Yes! :+1:

[2015-12-28 04:05] obetomuniz opened #29 "On start up of DevSpace the title is "Electron""

[2016-01-10 08:02] zenorocha commented on #23
Done in https://github.com/devspace/devspace/releases/tag/v1.0.0-alpha.5 ;)

[2016-01-10 08:02] #23 closed

[2016-01-10 08:03] zenorocha commented on #2
Now available for Organizations too!

P.S.: You need to create a new column for this to work ;)

[2016-01-12 00:50] zenorocha commented on #25
Closing this and merging it to #24 so we can keep things cleaner over here ;)

[2016-01-12 00:50] #25 closed

[2016-01-12 00:51] zenorocha commented on #24
![screenshot from 2015-12-23 19 15 28](https://cloud.githubusercontent.com/assets/72206/11985215/94bfc8f8-a9a9-11e5-93dd-6d80721db8bc.png)

Originally posted on #24

[2016-01-12 00:51] #26 closed

[2016-01-12 00:51] zenorocha commented on #26
Closing this and merging it to #24 so we can keep things cleaner over here ;)

[2016-01-12 00:51] zenorocha commented on #24
![screenshot from 2015-12-23 19 35 04](https://cloud.githubusercontent.com/assets/72206/11985484/67d758b2-a9ac-11e5-9d79-51791461ef02.png)

Originally posted on #24

[2016-01-12 00:55] zenorocha commented on #27
That's a good idea to keep in mind. Thanks @obetomuniz!

[2016-01-12 00:55] #27 closed

[2016-01-12 00:58] zenorocha commented on #28
Good idea @obetomuniz but I'll leave it open for anyone to join instead of invitations ;)

[2016-01-12 00:58] #28 closed

[2016-01-12 00:59] #10 closed

[2016-01-12 01:00] #11 closed

[2016-01-12 01:36] jaydson commented on #24
<3 Waiting for it

[2016-01-12 15:17] zeke opened #30 "Allow columns to be rearranged."
I now have more columns than will fit on my screen. I want to drag them around.

[2016-01-12 16:09] zenorocha commented on #30
Yes, this is a must! Thanks for suggesting @zeke

[2016-01-12 16:09] #30 closed

[2016-01-13 08:22] felipecsl opened #31 "Cannot request to join private beta"
![screen shot 2016-01-13 at 12 22 10 am](https://cloud.githubusercontent.com/assets/190648/12288739/b585b2b8-b98b-11e5-9d05-aafa07ab5083.png)

[2016-01-13 11:24] theus commented on #31
Same with me. :/

[2016-01-13 14:20] zenorocha commented on #31
Could you try now?

[2016-01-13 14:20] #31 closed

[2016-01-13 14:20] zenorocha commented on #31
Sorry about that :/

[2016-01-13 14:22] theus commented on #31
It's all right!

[2016-01-14 06:33] robdodson opened #32 "Add lists"
Instead of creating a column per developer it'd be cool if I could put a bunch of developers (or projects or whatever) into a list and just have a column for that list.

[2016-01-14 12:06] luanmuniz commented on #32
:+1:

[2016-01-14 12:51] wysow commented on #32
:+1:

[2016-01-14 14:35] obetomuniz commented on #32
duplicate #27

[2016-01-14 21:19] luanmuniz commented on #24
:+1:

[2016-01-14 23:03] zenorocha commented on #33
I'm a [biiiig fan of open source](https://github.com/zenorocha), maybe this project will be open source in the future but I don't have an official answer yet. At this moment, there's a lot of attention on this so I'm focused on making sure that it works well before releasing it to the public.

[2016-02-03 23:08] zenorocha commented on #29
Closing this one for now since the desktop app development is paused in favor of the web app.

[2016-02-03 23:08] #29 closed

[2016-02-03 23:09] zenorocha commented on #17
For now users will have to delete and add a new column.

[2016-02-03 23:09] #17 closed

[2016-02-04 00:47] pragmaticivan opened #34 "Better Github Authorization system"
Currently the app requires this:
`This application will be able to read and write all public and private repository data. This includes the following:`

I want to be able to choose which repos I want to allow this app to pick data from.

Why should this app have permission to write data in my private repo?

Why should this app have permission to handle all those things? instead just read them ?
[c

[2016-02-04 00:55] rimenes commented on #34
Agree on that. Also "read and write all public and **private** repository data" is a no no.

[2016-02-04 00:57] zenorocha commented on #34
Check this out: https://devspace.io/privacy/

[2016-02-04 00:59] zenorocha commented on #34
TL;DR GitHub permission system sucks.

In order to show events from private repositories, I need to request write access to your public and private repositories. Even though the app is 100% readonly.

[2016-02-04 01:02] pragmaticivan commented on #34
There's no option like that? :
- I just want the app to use my public repo.
- If I want to try private, I can give any permission the app need.

For me looks like a better approach.

[2016-02-04 01:03] zenorocha commented on #34
Yep, that's definitely the best approach.

[2016-02-04 01:04] zenorocha commented on #34
As a reference, here are the permission scopes we use: `user` and `repo`.

https://developer.github.com/v3/oauth/#scopes

[2016-02-04 01:09] pragmaticivan commented on #34
Cool, I would like to see this feature soon, even if you have a private policy explaining everything, we still don't know how the database, security, access layers of this app infrastructure are now.

For me not having this for this beta version is a little bit dangerous.

Not familiar with this technique but maybe someone can get in the server, get the token, and simulate requests inside  your ap

[2016-02-04 15:16] viatsko opened #36 "Sidebar + multi-column per project view idea"
Hi!

First of all, thanks for the project!

Second, I'm thinking of having some kind of *Slack-bar* on the left with projects and numbers of events I missed. In the project view from the sidebar, I'd like to see three columns with commits, issues, pull requests and general non-related news-feed with watches/starrers for example.

<img width="53" alt="screen shot 2016-02-04 at 16 16 07" src="https:

[2016-02-04 15:45] zenorocha commented on #34
There's no such thing. oAuth tokens are generated in the client-side and they're not stored in the server.

[2016-02-04 16:28] weblancaster opened #37 "Trending columns"
Would be nice to have columns to see trending this week (day/month) and trending stars by the people users follow.

[2016-02-04 17:27] obetomuniz opened #38 "Some essentials shortcuts dont works"
The following shortcuts in Mac don't affect DevSpace:

CMD + M don't works to minimize the app
CMD + H don't works to hide the app

[2016-02-04 17:55] mhinze opened #39 "Show the branch commits were pushed to"
`[user](user link) pushed [n commits](compare link) to [org/repo](repo link)`

:arrow_right:

`[user](user link) pushed [n commits](compare link) to [org/repo:branch](:repo/tree/:branch link)`

[2016-02-05 02:55] zenorocha commented on #39
Done! Thanks for your suggestion @mhinze ;D

[2016-02-05 02:55] #39 closed

[2016-02-05 02:56] zenorocha commented on #38
Done! Thanks for reporting @obetomuniz ;)

[2016-02-05 02:56] #38 closed

[2016-02-05 03:00] zenorocha commented on #35
The app is not optimized for mobile yet but hopefully we'll be able to fix this in the future. Thanks @xdumaine ;)

[2016-02-05 03:32] mateusortiz commented on #37
:+1:

[2016-02-05 05:39] zenorocha commented on #37
:+1:

[2016-02-05 14:46] mhinze commented on #39
Awesome! Thanks.

[2016-02-05 18:34] luanmuniz opened #40 "[Feature request] Show issues title"
Im trying to follow the nodejs repo but without the issue title its very hard since its about 100~ issues updated a day :(

[2016-02-05 18:43] zenorocha commented on #40
Cool! We definitely need this feature. My plan is to ship something similar to this:

<img width="382" alt="screen shot 2016-02-05 at 10 42 42 am" src="https://cloud.githubusercontent.com/assets/398893/12855586/36ccc318-cbf5-11e5-9c2c-6ef35604af34.png">

[2016-02-05 20:58] zenorocha commented on #36
That's a very creative idea. In fact, creating a scalable UI is a very challenging task on this project.

For now, we'll focus on delivering the missing basic features like infinite scrolling, event filters, in-app interactions, etc. But I'll keep this idea in mind. Thanks @viatsko!

[2016-02-05 22:57] luanmuniz commented on #40
I like it!
btw: what is the name of this plugin? xD

[2016-02-09 01:12] rafaelrinaldi opened #41 "Issues and PRs count"
A killer feature would be to have a quick way to see how many PRs and Issues are open for a given repository. The default GitHube notification icon is not reliable and is even misleading if you ask me.

What I use today as a workaround is this little Chrome extension called [`gh-nag`](https://github.com/jamestalmage/gh-nag) by @jamestalmage.

In DevSpace I think this can be displayed on the reposi

[2016-02-09 01:16] rafaelrinaldi opened #42 "Use regex for filters"
Istead of a whitelist and a blacklist I think that using pattern matching via regex would be way better. This software is for developers anyway :neckbeard:
By doing this, the fields "Matching" and "Excluding" could be replaced by a single "Pattern" field in the "Filter events" modal.

Would also be nice to toggle patterns that you previously setup. That way one can easily compose even complex filt

[2016-02-09 16:54] zenorocha commented on #42
Awesome, I love this idea.

Although `Pattern` is way more powerful than `Matching` and `Excluding`, I think it's a good idea to keep them for beginners who are not familiar with regex yet.

[2016-02-09 18:28] weblancaster opened #43 "Suggestion, add tooltip on issue number displaying issue title."

[2016-02-09 18:30] zenorocha commented on #43
Duplicated from #40 ;)

[2016-02-09 18:30] #43 closed

[2016-02-09 18:33] zenorocha commented on #40
https://github.com/Justineo/github-hovercard ;)

[2016-02-09 18:35] zenorocha commented on #42
Done!

<img width="413" alt="screen shot 2016-02-09 at 10 26 14 am" src="https://cloud.githubusercontent.com/assets/398893/12926503/8da6dd10-cf18-11e5-871e-1fab5deaaf03.png">

Let me know what you think ;D

[2016-02-09 18:35] #42 closed

[2016-02-09 19:21] rafaelrinaldi commented on #42
![hell yes](https://cldup.com/BWQWlBg-zK.gif)

[2016-02-10 00:12] keppelen commented on #37
:+1:  :+1:

[2016-02-10 00:22] zenorocha commented on #4
Done in https://github.com/devspace/devspace/releases/tag/v1.0.0-beta lol

[2016-02-10 00:22] #4 closed

[2016-02-10 20:20] inyono commented on #37
:+1:

[2016-02-10 20:54] montogeek opened #44 "Load more"
Hi!

It would be nice to get more notifications once you reach the bottom on the column :)

[2016-02-10 20:56] zenorocha commented on #44
Thanks for your suggestion @montogeek!

Duplicated from #3

[2016-02-10 20:56] #44 closed

[2016-02-10 20:57] montogeek commented on #44
Yes, sorry

[2016-02-10 20:57] montogeek opened #45 "Save removed columns"
Hi!

It would be great to get a list of saved columns, currently when you close a column, is deleted forever

[2016-02-10 20:57] maracaipe commented on #34
+1 @pragmaticivan.
I don't mind this much with my public repos, but my private. When you offer a way to the app don't need the read/write access to it I would love to beta test this app.

[2016-02-10 20:59] zenorocha commented on #34
I talked to GitHub's support but they have no plans to fix this. Working on an open letter now.

[2016-02-10 21:03] zenorocha commented on #45
Hey @montogeek,

I don't think I completely understand what you're suggesting. Could you elaborate a little bit more? Why would you want to see the list of columns you deleted?

[2016-02-10 21:03] montogeek opened #46 "Remove column confirmation"
Hi!

At this moment when you click the X icon, it does not show a confirmation.
A basic confirmation alert/message would be nice.

[2016-02-10 21:04] pragmaticivan commented on #34
@zenorocha you have a simple option for that, two kind of auth. I experienced some apps using a choose button, where you make 2 types of requests, one for just public and one for private as well. A good example is Waffle.io:

![image](https://cldup.com/iJIm2YAfW--3000x3000.png)

The permission request are different. You can start with that, would be a really awesome feature.

[2016-02-10 21:08] zenorocha commented on #34
That's super awesome!

[2016-02-10 21:08] montogeek commented on #45
Hi @zenorocha
Maybe you deleted it because you do not want to see more notifications from the user/repo/organization, but later, in the future, you want to get those notifications again, so, instead of have to remember it and add the column again, you can simply choose it from the list

[2016-02-10 21:12] shawn42 commented on #34
+1 for public only version. Until then I cannot beta test what looks to be a very useful app.

[2016-02-10 21:19] zenorocha commented on #34
Totally understand. That's why betas are for, thanks a lot for your feedback guys ;D

[2016-02-10 21:36] msmosso opened #47 "On-screen preview when you hover some activity."
It would be awesome to read more about the activity when you hover it.

[2016-02-10 21:37] zenorocha commented on #47
Yes, I totally agree! Closing since it's duplicated from #40

[2016-02-10 21:37] #47 closed

[2016-02-10 21:40] zenorocha commented on #45
Got it. I'll close this one for now since there are other issues with higher priorities now. But thanks for sharing your ideas @montogeek ;)

[2016-02-10 21:40] #45 closed

[2016-02-10 21:40] zenorocha commented on #46
+1

[2016-02-10 22:09] montogeek commented on #45
Thank you for hearing!

[2016-02-11 00:08] jfunez commented on #34
Hi @zenorocha this public+private access issue is the only point I've found that don't let me use the app :(
Hope you can fix it soon to test the app.

[2016-02-11 00:13] jeffersonsouza opened #48 "[Translation] Works in a PT-BR internationalization"
Hey everyone,

I just loved the DevSpace idea/project and I wish to collaborate with internationalization. I'm from Brazil and I'll love to know if this will be useful for any other and I wanna know if have someone that wants to collaborate with this.

Cheers,

[2016-02-11 00:15] brunoqueiros opened #49 "Scroll up when column title is clicked"

[2016-02-11 00:18] zenorocha commented on #49
+1

[2016-02-11 00:32] jolaurin commented on #34
+ 1 for this. I can't wait to test the app. :-)

[2016-02-11 00:33] pragmaticivan commented on #34
![forest](https://45.media.tumblr.com/b2d4b1b8de8e60c868f93c52062e0413/tumblr_mg4ex3iRTm1rz1p75o1_400.gif) o/ haha

[2016-02-11 00:39] zenorocha commented on #34
Here's a list of other apps that face the same problem :/

* https://github.com/isaacs/github/issues/311
* https://github.com/isaacs/github/issues/31
* https://github.com/huboard/huboard/issues/203
* https://github.com/huboard/huboard/issues/468
* https://github.com/astralapp/astral/issues/11
* https://github.com/bkeepers/github-notifications/issues/146

[2016-02-11 02:41] fdaciuk opened #50 "Click, hold and drag to scroll horizontally"
This feature would be awesome, to scroll horizontally like Trello does :)

[2016-02-11 03:38] murielsilveira commented on #46
+1

[2016-02-11 03:40] zenorocha commented on #50
Yeah, for sure! Closing since this duplicated from #1

[2016-02-11 03:44] murielsilveira commented on #13
:+1:

[2016-02-11 03:45] murielsilveira commented on #5
:+1:

[2016-02-11 03:45] murielsilveira commented on #3
:

[2016-02-11 03:45] murielsilveira commented on #1
:+1:

[2016-02-11 05:13] zenorocha commented on #34
Similar login approach on Huboard:

<img width="981" alt="screen shot 2016-02-10 at 9 12 25 pm" src="https://cloud.githubusercontent.com/assets/398893/12969824/10eb4d50-d03b-11e5-82d8-1b0e26432415.png">

[2016-02-11 05:14] pragmaticivan commented on #34
Seems to be pretty cool. :+1:

[2016-02-11 05:21] zenorocha commented on #34
And here's Gemnasium:

<img width="1000" alt="screen shot 2016-02-10 at 9 20 09 pm" src="https://cloud.githubusercontent.com/assets/398893/12969924/4044e3a8-d03c-11e5-9d77-e9dadb1c7fbe.png">

[2016-02-11 07:44] zenorocha commented on #34
Ok, here's the open letter: https://blog.devspace.io/github-s-permission-system-is-flawed-de8836d9e7cc

Join the discussion at: https://github.com/dear-github/dear-github/issues/113

[2016-02-11 07:52] thiagokimo commented on #1
:+1:

[2016-02-11 08:31] damianh opened #51 "Be able to have multiple repos in a single column"
I'd like to track several important (but slow moving) repositories. Having a column for each one is too much.

Actually the same could be said for organization and user columns.

[2016-02-11 08:36] damianh commented on #36
Oh this would be v.nice! :+1:

[2016-02-11 08:44] damianh commented on #6
Would also like to add ability to set font size and use column width. My DevSpace vs Tweetdeck:

![image](https://cloud.githubusercontent.com/assets/57436/12972264/ef77d878-d0a3-11e5-9f4f-441e4e4a16b8.png)

[2016-02-11 09:52] alexandrev commented on #24
:+1:

[2016-02-11 10:09] philipbeel opened #52 "Add ability to repurpose a column"
As a user if I add a column for a `user` and mistype the username. I must delete the column and create another. I would like the ability to edit the title of the column and add the name here, instead of having to delete the column and loosing any associated filters.
<img width="310" alt="screen shot 2016-02-11 at 10 09 13" src="https://cloud.githubusercontent.com/assets/117875/12973854/8e173be2-d0

[2016-02-11 10:56] fdaciuk commented on #50
Actually, it is a bit different. My proposal is something like this:

![](https://media.giphy.com/media/BpoGlhn1YiZ32/giphy.gif)

[2016-02-11 11:54] zenorocha commented on #6
+1 @damianh

[2016-02-11 11:55] zenorocha commented on #51
+1 @damianh. Closing since it's duplicated from #32

[2016-02-11 11:55] #51 closed

[2016-02-11 12:45] danielrohers opened #53 "create groups / collections"
Enable the creation of groups, where you can add users, repositories...

Example:

* Node (group)
 * sindresorhus (user)
 * nodejs (organization)
 * express (repository)

[2016-02-11 14:09] gauntface opened #54 "Personal Nit? Change repo link to be just test or less prominent."
Would love the repo name not to be so prominent, the majority of the time I want the issue, action or PR to be the main action rather than the repo link.

[2016-02-11 14:57] fdaciuk commented on #52
+1

[2016-02-11 15:07] fdaciuk opened #55 "Update notice"
I don't know if Devspace already has this feature, but would be nice if we can see when it there is an update, like:

![selection_140](https://cloud.githubusercontent.com/assets/487669/12979781/63c7287a-d0c0-11e5-9275-3a3c88ba243f.png)

[2016-02-11 15:58] fvezzoso opened #56 "Time of events not updating"
I noticed that the time of the events already on the screen are not being updated as the time passes.

[2016-02-11 16:50] HenriqueLimas opened #57 "Problem on The Login page on screen with height lower than 740"
In the Login page on landscape mode on phones, tablets or notebook with height lower than 740 (like Samsung Chromebook) is not possible to access the footer links and in small screens like phones is not possible to see the login button.

[2016-02-11 17:34] gauntface opened #58 "make Repository Columns easier to add"
Would love a UI to select repositories I own / have attached to my account would be awesome rather than typing out username / repo.

[2016-02-11 17:35] gauntface opened #59 "Onboarding - add users popular repo"
Just think it would have been a nice touch if something popular was auto-added as a column.

[2016-02-11 19:03] mauricionr opened #60 "Notification API"
Instead of open browser tab to see what's new,
could be very nice enable Notification API per column.

Thanks!!

[2016-02-11 19:15] hhsnopek opened #61 "Smaller Columns"
I wanna be able to see more on my screen, right now I can only see 4 columns. On tweetdeck I am able to see 5. Maybe a compact mode would do

[2016-02-11 21:19] AdrianoCahete commented on #61
Not smaller, but resizable columns. 'Cause it's a personal option. I like larger columns, f.e.

[2016-02-11 21:20] hhsnopek commented on #61
yeah I was thinking something along the lines of compact, cozy & comfort modes like gmail

[2016-02-11 21:22] AdrianoCahete opened #62 "Add typeahead/autocomplete for repo/users"
For best adding repo/users columns. We don't need all repos or users, but only whom we watched/starred/followed.

[2016-02-11 22:09] zenorocha commented on #53
That's a very nice feature for sure.

[2016-02-11 22:09] #53 closed

[2016-02-11 22:12] zenorocha commented on #54
I see... do you mean doing what GitHub does?

[2016-02-11 22:18] zenorocha commented on #61
Yes, that would be great.

[2016-02-11 22:18] #61 closed

[2016-02-11 22:22] hhsnopek commented on #61
:+1:

[2016-02-11 22:25] zenorocha commented on #59
That's an interesting topic.

"Popular" is a very broad definition, should I add the most starred repos (https://github.com/search?utf8=%E2%9C%93&q=stars%3A%3E1) or the trending ones (https://github.com/trending). But then, something may be popular with React fans users but not with Angular fans.

What would you consider as popular to that particular user?

[2016-02-11 22:25] zenorocha commented on #59
Btw, at this moment, we only add Home (you) and User (you) but I'm not really sure if User (you) is useful for example. I'll keep an eye on what are the most common user behaviors and adjust the app according to it.

[2016-02-11 22:26] zenorocha commented on #50
Got it! I'll take a look into it.

[2016-02-11 22:26] zenorocha commented on #50
Is there any other hidden feature like this that you like on Trello?

[2016-02-11 22:28] zenorocha commented on #58
Would #62 be a good solution for this?

[2016-02-11 22:29] gauntface commented on #59
Sorry, by popular I'm think of the top result on the left of a github users
profile - i think it's the users most watched or most started repo that the
user has.

On Thu, 11 Feb 2016, 22:25 Zeno Rocha <notifications@github.com> wrote:

[2016-02-11 22:29] zenorocha commented on #55
DevDocs does that because it has offline support. At this moment, we don't have something like that, but it's probably a good idea since many users will just pin the tab.

[2016-02-11 22:30] zenorocha commented on #59
Perfect! That sounds like a very nice addition ;)

[2016-02-11 22:32] zenorocha commented on #60
I know what you mean. I also want this on DevSpace.

FYI this will probably take a while to land since the notifications API works in a completely different way than the events API.

[2016-02-11 22:32] gauntface commented on #58
Its related but #62 sounds like repos related to user actions I was talking
about my own repos or repos of orgs I'm a part of, but mark as duplicate if
you feel it would cover both suggestions.

On Thu, 11 Feb 2016, 22:29 Zeno Rocha <notifications@github.com> wrote:

[2016-02-11 22:33] zenorocha commented on #58
Got it!

[2016-02-11 22:33] #58 closed

[2016-02-11 22:34] zenorocha commented on #62
I agree.

And also your own repos and orgs as suggested by @gauntface on 58

[2016-02-11 22:34] zenorocha commented on #57
+1 thanks for reporting @HenriqueLimas!

[2016-02-11 22:35] zenorocha commented on #56
Thanks for reporting @fvezzoso!

[2016-02-12 00:20] fdaciuk commented on #55
For sure! :dancer: :dancer: :sparkles:

[2016-02-12 00:32] fdaciuk commented on #50
Not for now =)

[2016-02-12 01:36] vasco3 opened #63 "missing documentation with examples on how to use"

[2016-02-12 11:57] fvezzoso commented on #56
Thanks for the hard work ;)

[2016-02-12 13:58] zenorocha commented on #63
What kind of examples would you like to see?

[2016-02-12 15:56] heitorsilva opened #64 "Add support to Bitbucket"
Bitbucket recently provided an API to integrate stuff with it: [Docs](https://developer.atlassian.com/static/bitbucket/)

It would be nice to have devspace for Bitbucket too...

[2016-02-13 00:54] vasco3 commented on #63
An example of how to use matching, excluding, regex for:
- filtering out only changes to a specific repo's CHANGELOG.md or HISTORY.md
- filtering issues per label eg. https://github.com/zenorocha/ama/labels/english

[2016-02-13 02:09] zenorocha commented on #64
Bitbucket is on the radar but it's pretty low priority at this moment. There are plenty missing features and we'll try to handle it first.

[2016-02-13 11:37] alexandrev commented on #1
:+1:

[2016-02-13 11:58] mauricionr commented on #1
:+1:

[2016-02-13 12:19] mauricionr commented on #60
Another option to notify new updates could be in document.title, like

Ex: DevSpace(1)

Like facebook,gmail....

[2016-02-14 16:49] ruyadorno opened #65 "Not enough items shown after filter"
Recently I had a repo that got a lot of stars at once after a popular tweet.

Once I used the filter feature to _filter out_ related items on my **Home** column it became quite empty, showing only 6 items.

Expected behavior would be to have at least the minimum number of items displayed.

[2016-02-14 18:39] ruyadorno commented on #37
:+1:

[2016-02-15 01:28] AdrianoCahete opened #66 "Ability to add specific column by user actions"
When i say "specific column" i mean columns like starred/forked repos from an user, push/PR's from user, created new repos, make repo public, comment and open issues.
From UI perspective, add a second screen before click User (from Add Column).

DevSpace already have and know that info (we can see by icons), you just can make possible to filter when add a new column.

It's like a column with a def

[2016-02-15 01:35] AdrianoCahete commented on #6
+1

[2016-02-15 01:42] AdrianoCahete commented on #40
Just put a delay (or a click) when over that info. Is so annoying move mouse pointer from top to bottom (or to some link/card) and a lot of popups "popping up".

[2016-02-15 01:48] AdrianoCahete commented on #46
Some users can think popup is annoying, so some other options:
- Leave without confirmation, but put a "undo" link (like GMail with a new mail);
- Change a "delete" definition to "archive". You can archive some column and, if it's a misktake, you can "unarchive" from archive panel.

[2016-02-15 02:07] montogeek commented on #46
@AdrianoCahete  I like your second idea :) It is related to this idea https://github.com/devspace/devspace/issues/45

[2016-02-15 15:58] damianh commented on #34
I think there will be plenty of organizations that will have difficulty opening up 3rd party access to private repos / data. At this point I can only use the web app for public / oss stuff. The real utility for me would be the private stuff.

For private orgs I'm going to need a desktop app where I configure it with a personal access token that talks directly to the github API. From an org's persp

[2016-02-15 18:21] zenorocha commented on #66
Filters are advanced settings for columns. Adding another step on column creation would only make more confusing in terms of UX.

I prefer keeping the column creation workflow as easy as possible for now and if somebody wants a more advanced settings they can just set a filter.

I hope I understood you correctly. Thanks for sharing ideas with us ;D

[2016-02-15 18:21] #66 closed

[2016-02-15 18:25] zenorocha commented on #63
Got it. Unfortunately filters do not work this way. It's only a string filter based on what GitHub's Events API  return.

My plan is to write some blogposts to explain the power of filters. Do you think that would help?

Thanks @vasco3!

[2016-02-15 18:25] #63 closed

[2016-02-15 18:26] zenorocha commented on #60
Sure, there are a lot of patterns that we can use for this.

Thanks for sharing @mauricionr!

[2016-02-15 18:28] zenorocha commented on #46
I think I prefer this undo idea. Thanks for sharing @AdrianoCahete

[2016-02-15 18:46] AdrianoCahete commented on #66
Sort of.
Is something like filters, but with a default filter already applied. You will be facilitating (idk if it's a correct term) user actions, in fact it's a better UX action.

If not a new panel, a set of pre created filters would be good.

[2016-02-16 01:16] itmustbe commented on #40
I do like the lookup of your popup mockup.

I would suggest avoiding the hover event though, instead using a click event.  This will avoid unnecessary decisions about how long to delay the hover event firing (pointed out earlier in this thread).  And it will be better for mobile devices (as it's hard to be certain the mobile device viewing will reliably translate hover events as tap events).  Cons

[2016-02-16 02:00] zenorocha commented on #66
What kind of pre created filters would you like to see? We can improve the placeholders with your ideas.

[2016-02-16 19:17] devdrops opened #67 "Links for new commits in a branch are broken"
Noticed right now that in some links for branches (when you receive a notification of an update, like a new commit has been pushed, in a given branch), some specific words present on the branch name itself are not present in the link, which produces a broken link.

**Example**:
<img width="312" alt="captura de tela 2016-02-16 as 17 15 11" src="https://cloud.githubusercontent.com/assets/1259313/130

[2016-02-16 19:24] heiligster opened #68 "Prevent tab/stream creation on missing/unknown accounts"
Altough I'm entering gibberish and I get an empty search result back, a new pane will be created.

[2016-02-16 23:16] zenorocha commented on #67
Fixed! Thanks a lot for reporting @devdrops ;)

[2016-02-16 23:16] #67 closed

[2016-02-16 23:35] zenorocha commented on #56
Fixed! Thanks again @fvezzoso ;)

[2016-02-16 23:35] #56 closed

[2016-02-16 23:51] fvezzoso opened #69 "Ability to clear an event"
Maybe this is deviating too much from the purpose of devspace but every time I check for new events I'm compelled to find a way to mark an event as read so next time it's easier to see if there are new events or which is the last event that I have read.

[2016-02-17 00:29] devdrops commented on #67
Awesome!

![wh00t](https://cloud.githubusercontent.com/assets/1259313/13095959/bc17de4e-d4fc-11e5-972d-efac105520f5.png)

[2016-02-17 00:32] zenorocha commented on #67
lol

[2016-02-17 12:57] romuloalves opened #70 "Add ability to create a column of GitHub trendings repos and developers"
Would be nice the possibility of create a column with GitHub [trending repos and developers](https://github.com/trending)!

[2016-02-17 15:10] itmustbe commented on #40
Last night I was thinking a bit more about this, and it's just another suggestion, but instead of a popup, one could just have the box for that particular event item expand downwards to accommodate additional content and information?  Actually each event still needs a bit more info before any click is made, as without additional info, it's hard to know which one might wish to click.

So I think ad

[2016-02-17 16:26] zenorocha commented on #70
+1!

Closing since it's duplicated from #37

[2016-02-17 16:26] #70 closed

[2016-02-17 19:08] zenorocha commented on #57
Fixed! Thanks @HenriqueLimas ;)

[2016-02-17 19:08] #57 closed

[2016-02-17 19:10] zenorocha commented on #34
Just added a login option for public repos. Thanks all of you for your feedback!

<img width="709" alt="screen shot 2016-02-17 at 11 09 25 am" src="https://cloud.githubusercontent.com/assets/398893/13121392/03d3604a-d567-11e5-81fc-e599ace2f5d2.png">

[2016-02-17 19:10] #34 closed

[2016-02-17 19:32] antonioams commented on #37
:+1:

[2016-02-17 19:34] mdelapenya commented on #40
I'd add this feature to commits message, to see which commits where pushed. I'd add the commit shor description as tooltip

[2016-02-17 20:07] lardissone opened #71 "Add ability to reorder columns"
Allow dragging columns to reorder. Very low priority.

[2016-02-17 20:09] zenorocha commented on #71
+1

Closing since it's duplicated from #1

[2016-02-17 20:09] #71 closed

[2016-02-17 20:10] lardissone commented on #71
Oh, didn't noticed it!

[2016-02-17 20:13] maracaipe commented on #34
Perfect!

[2016-02-18 03:48] lnfnunes commented on #52
+1

[2016-02-18 03:52] lnfnunes opened #72 "Ability to rearrange columns"
It would be nice if I could swap columns changing it's order by drag'n drop instead of delete/add.

[2016-02-18 06:57] zenorocha commented on #72
Yep.

[2016-02-18 06:57] #72 closed

[2016-02-21 16:38] mdelapenya opened #73 "Support moving columns to change current order."
I'd like to move columns once they are created, so that I can choose the order I really need.

Drag & Drop from column header could be a good choice.

Thanks!

[2016-02-21 16:39] mdelapenya commented on #73
Ooppss, closing as its duplicated her: https://github.com/devspace/devspace/issues/1

Sorry!

[2016-02-21 16:39] #73 closed

[2016-02-22 17:51] TimvdLippe opened #74 "Access buttons unclear"
It might have been me, but when opening the site seeing two buttons regarding access, I was a little bit confused. Eventually I chose the "Public Access" and got redirected to GitHub. Only then did I understood it meant asking permission for private repositories or not.

In my case to make it a bit more obvious, a small header could be added with "Authenticate the application with GitHub". This wo

[2016-02-22 17:52] TimvdLippe commented on #6
For big screens, the column width is very small. It would be nice if it could flex, or at least be improved. :+1: for me!

[2016-02-22 18:03] TimvdLippe commented on #54
When following a specific repository, every event still contains `at repo/name`. This is redundant information and clutters the event.

[2016-02-22 18:04] TimvdLippe opened #75 "Show actual comment (on click)"
![image](https://cloud.githubusercontent.com/assets/5948271/13227359/86f03736-d996-11e5-9544-7b844352c2fb.png)

It would be nice to directly see the actual comment. Either on user interaction (on click) or in-line and truncated.

P.S. This would also be applicable for titles of new issues/pull requests

[2016-02-22 18:06] zenorocha commented on #75
+1

[2016-02-22 18:06] #75 closed

[2016-02-22 18:08] TimvdLippe commented on #75
Ah sorry I searched the repository but couldn't find the ticket.

[2016-02-23 02:09] asotog opened #76 "Issue Title Display"
Might be helpful at least from user perspective to see the title of the issue, not just the issue number, a tooltip or something not too big showing the title, maybe hovering over the issue number and display the tooltip with the title, for example twitter when user is tagged, it shows up a bubble with some info related

[2016-02-23 05:22] zenorocha commented on #76
+1

[2016-02-23 05:22] #76 closed

[2016-02-23 06:49] kidwm commented on #76
@zenorocha Sorry, I don't think this is duplicated from that.

And I also want issue title to be displayed directly in the content block instead of a tooltip.

[2016-02-23 06:53] kidwm commented on #75
@zenorocha I'm here again, please don't put comment content as *more info in tooltips*.

[2016-02-23 14:53] asotog opened #77 "Improvements for columns view"
The columns view is great, but sometimes you can have like following 10+ repositories, so its hard to keep track of the horizontal scroll, maybe you can have like 4-5 in columns and keep other saved repositories docked and collapsed in the left panel, so then you can drop them to the column view

[2016-02-23 16:59] zenorocha commented on #74
Done! Thanks for sharing your feedback Tim ;)

[2016-02-23 16:59] #74 closed

[2016-03-09 15:32] heldr opened #78 "Hide window (cmd + H)"
Mac OS window hide(cmd + h) rule is not enabled on electron apps by default. Somehow Slack and Atom implements it.

It might help: (search for "hide")
https://github.com/atom/electron/blob/master/docs/api/menu.md

[2016-03-09 18:04] zenorocha commented on #78
This was fixed a while ago, I'll send you the newest version ;)

[2016-03-09 18:04] #78 closed

[2016-03-09 20:17] AdrianoCahete commented on #69
+1

[2016-03-09 20:24] AdrianoCahete opened #79 "Repo with big name appears truncated"
Title and image talk for themselves
![capture](https://cloud.githubusercontent.com/assets/37474/13649260/9794c930-e61b-11e5-8453-eeb5677b4d59.PNG)

[2016-03-09 20:29] AdrianoCahete opened #80 "Layout fix for column scroll"
When column don't have all height, scroll dind't need to appears.

So ```column-content``` class needs to be ```overflow-y``` with ```auto``` instead of ```scroll```

Before (actual):
![scroll_before](https://cloud.githubusercontent.com/assets/37474/13649425/57c1dacc-e61c-11e5-958f-0d1c3354b715.PNG)

After:
![scroll_after](https://cloud.githubusercontent.com/assets/37474/13649428/5c84be1c-e61c-11e

[2016-03-09 21:07] zenorocha commented on #80
Done! Thanks for reporting @AdrianoCahete ;)

[2016-03-09 21:07] #80 closed

[2016-03-09 21:07] zenorocha commented on #6
Done! Check it out and let me know what you think ;D

[2016-03-09 21:07] #6 closed

[2016-03-10 16:07] rafaelrinaldi opened #81 "`⌘+,` to open settings panel"
As an OSX user, my muscle memory always go with <kbd>⌘</kbd>+<kbd>,</kbd> (command plus comma) to access the settings panel of any application. It would be nice to have this same behavior in DevSpace.

[2016-03-10 17:40] caarlos0 commented on #1
:+1:

[2016-03-13 01:36] zenorocha commented on #35
Fixed! Could you take a look now @xdumaine?

[2016-03-13 01:37] zenorocha commented on #81
Thanks for your suggestion @rafaelrinaldi!

[2016-03-13 01:37] #81 closed

[2016-03-13 01:37] zenorocha commented on #13
As suggested by @rafaelrinaldi

[2016-03-13 01:56] zenorocha commented on #77
Interesting... and what do you think about the list idea? #32

[2016-03-13 05:00] xdumaine commented on #35
Looks better! Adding apple-mobile-web-app-capable meta tag would be cool so
it could be opened in web app style on iPhone.
On Sat, Mar 12, 2016 at 8:36 PM Zeno Rocha <notifications@github.com> wrote:

[2016-03-13 05:05] zenorocha commented on #35
I did that already ;)

[2016-03-14 16:12] asotog commented on #77
That's nice idea, having multiple devs on same col, maybe complemented with kind of bookmarked developers / projects on the left bar, so you can add/drag what ever you want from a preexistent list of items to the column

[2016-03-15 16:57] claudiordgz opened #82 "Organizations appear blank but can be added as users"
If I go to add column and add Organization (i.e. EpicGames or EmpowerKnowledge) it will give me a blank column.

If I go to add column and add User and type an Organization I will get all user interaction of that organization.

Is this the intended behavior?

[2016-03-15 17:14] daveaglick commented on #40
I think this is the crux of it. Personally, I think a streaming visualization like this is really only helpful when it gives you what you need at a glance. I should be able to see enough in order to judge what is actionable or not without any having to initiate any additional user actions.

In fact, I would go further than tooltips (though those would certainly be cool) and provide an option (mayb

[2016-03-15 17:19] ionutvmi commented on #13
It would be nice to also have the `jkhl `navigation similar to tweetdeck.
And also maybe we could open the links in the focused items using the numbers 1,2,3 etc.

[2016-03-15 17:50] bluemix opened #83 "Form validation not working on Webkit"
I added a user ` addyosmani`, with a space at the beginning, and didn't show the news about it at the column. Worked when trimming the user name.

Thanks for this awesome site :)

[2016-03-15 18:15] zenorocha commented on #29
Cool, let me explain how things are structured right now.

There are two projects:
- [devspace](https://github.com/zenorocha/devspace) (app)
- [devspace.io](https://github.com/zenorocha/devspace.io) (landing page)

Both are static applications, the first one is hosted on Firebase and the second one is hosted on GitHub Pages. The reason why they are separated is because on Electron I can just load

[2016-03-15 18:21] addyosmani commented on #29
:+1: Will try to find time this week to study the source more closely and put something together :)

[2016-03-15 21:05] cesards opened #84 "Column scrolling down"
A column doesn't support down scrolling, so I can barely see what's going on!

Thank you for your work, by the way!

[2016-03-15 21:07] zenorocha commented on #84
Hey @cesards, could you provide more info like a screenshot or something? I haven't seen other users with this kind of error yet.

[2016-03-16 04:54] claudiordgz commented on #82
Fixed by @zenorocha on # ?

[2016-03-16 04:54] #82 closed

[2016-03-16 07:55] Xaviju commented on #77
Horizontal scrolling is painful. Some suggestions:

- Clicking somewhere in the left bar could scroll all the way to the left. As in tweetdeck.
- Column navigation by keyboard arrows.
- Column reorganization (not necessarily drag-and-drop)

Thanks for this tool!

[2016-03-16 14:23] rpaggi opened #85 "Favicon"
I realized that you do not have a favicon. Adding it is the coolest time to identify in my favorites!

Thanks!

[2016-03-16 14:26] zenorocha commented on #85
Actually we do have. Could you share a screenshot?

[2016-03-16 14:28] rpaggi commented on #85
Sorry, i think a bug of moment happened, now appears.

Sorry!

[2016-03-16 14:29] #85 closed

[2016-03-16 14:29] zenorocha commented on #85
Thanks!

[2016-03-16 16:30] pdf13 commented on #37
:+1:

[2016-03-16 17:04] rubensfernandes opened #86 "Autocomplete (typeahead) on Add Collumn for users, repos"
Automatic autocomplete to go by typing the name, organization or user in the area to add columns

pt-br: Na hora de adicionar um repo por exemplo ele ir autocompletando sem precisar entrar no git achar o repo pra dai então adicionar

[2016-03-16 17:05] zenorocha commented on #86
+1

[2016-03-16 17:05] #86 closed

[2016-03-16 17:06] zenorocha commented on #84
Closing since it wasn't able to reproduce.

[2016-03-16 17:06] #84 closed

[2016-03-16 18:04] cesards commented on #84
Sure!! Here you are :)

-------------------------------------------------------------------------------

César Díez Sánchez

On 16 March 2016 at 17:06, Zeno Rocha <notifications@github.com> wrote:

[2016-03-16 18:17] zenorocha commented on #84
Ohhhh, so you're trying to say that you want #3

[2016-03-16 19:36] zenorocha commented on #83
Hmmm, you should have seen a validation message. What browser and OS are you using?

[2016-03-16 19:38] bluemix commented on #83
I am using Safari version 9.0.3 (11601.4.4) and Mac OS X 10.11.3 (15D21)

[2016-03-16 20:32] ftonato opened #87 "Disallow duplicated columns"
Disallow duplicated columns for _Users_, _Repositories_ and _Organizations_.

e.g.
![columns](https://cloud.githubusercontent.com/assets/5417662/13827733/e6c9dfa0-eb9c-11e5-963b-d6bffdb07e68.png)

[2016-03-16 20:34] zenorocha commented on #83
Got it, I'm using HTML5 form validation and Webkit does not support it.

http://caniuse.com/#search=validation

I'll have to replace that.

Thanks for sharing @bluemix!

[2016-03-16 20:35] zenorocha commented on #87
Thanks for sharing but I don't agree @ftonato. You could have two columns with two different filters.

[2016-03-16 20:35] #87 closed

[2016-03-16 20:35] zenorocha commented on #79
Thanks for reporting. Confirmed that this is a bug on Windows.

[2016-03-16 20:53] ftonato commented on #87
Sorry @zenorocha, I've forgotten that there were filters.

[2016-03-16 20:59] bluemix commented on #83
Glad that i helped
You welcome :)

[2016-03-17 12:47] devdrops commented on #24
:+1:

[2016-03-17 14:31] laughedelic commented on #24
:+1:

[2016-03-18 11:25] PierrickGT opened #88 "Add two factors authentication"
I've successfully logged in using the Private Access button but it didn't ask me for the two factors authentification code.
I was then unable to see my private repo.

Here is a GIF explaining the problem better than me.
![devspace](https://cloud.githubusercontent.com/assets/2401738/13876416/60e08286-ed04-11e5-867a-f86d2c5a692e.gif)

[2016-03-19 00:04] thulioph commented on #37
:+1:

[2016-03-19 00:39] zenorocha commented on #37
You guys can use the :+1: button now ;)

[2016-03-20 02:35] zenorocha commented on #29
I decided to give it a shot on the landing page which is way easier than this.

Could you take a look? https://github.com/zenorocha/devspace.io/commit/9e99b094fec7d02c7f38ddb55caf5cb391c6788e

[2016-03-21 19:20] noxowe opened #89 "Newsletter"
I think it would make me come back daily to the product even if  I accidentally forget (because sometimes I do :cry: )

[2016-03-22 01:50] zenorocha commented on #88
That's pretty weird. Could you try logging out, revoking access from DevSpace on GitHub (https://github.com/settings/applications), and then logging again with private access?

[2016-03-22 01:50] #88 closed

[2016-03-22 01:50] zenorocha commented on #89
Could you elaborate on what you would like to see on this newsletter?

[2016-03-22 01:58] adamsalves commented on #1
:+1:

[2016-03-24 03:59] gustavomeloweb opened #90 "Desktop app"
could be nice have a desktop app, maybe using [nativefier] (https://github.com/jiahaog/nativefier)

[2016-03-24 14:02] addyosmani commented on #29
Is there currently a way to build a version of the app locally that doesn't run through Electron? :) Or when you're developing do you mostly use Electron and DevTools there for debugging? Figuring out your flow so I don't mess up your build system when adding this :)

[2016-03-24 15:06] zenorocha commented on #90
There's already a dev preview desktop version. What OS do you use?

[2016-03-24 23:48] gustavomeloweb commented on #90
I use macOS

[2016-03-25 04:54] saulojmc commented on #90
macOS (2)

[2016-03-29 13:48] victorcoder commented on #90
Where to download?

[2016-03-29 19:36] imgzone opened #91 "Primer bug encontrado"
Probando la App DevSpace

[2016-03-30 15:25] #91 closed

[2016-04-01 20:16] peterwmwong opened #92 "Load performance"
On a Nexus 6/Chrome, 6-7 seconds (on a warm boot!) before seeing any data seems surprising slow.
A cold boot (from homescreen), feel more like 10 seconds.

I plugged in my phone and took a timeline of a refresh (warm boot)...

![screen shot 2016-04-01 at 3 09 50 pm](https://cloud.githubusercontent.com/assets/284734/14218830/4d88313e-f81c-11e5-8d01-39389ab555ad.png)

... alot of javascripts going o

[2016-04-01 21:50] zenorocha commented on #92
I made some changes on SSL stuff so something wrong might have happened. Could you try again? Things seem normal now http://www.webpagetest.org/result/160401_PY_1BN0/

[2016-04-01 22:02] peterwmwong commented on #92
I didn't notice much change, I can do another timeline when I get back.
The webpagetest results you linked, that's only testing how fast the login page is... which isn't testing what an already logged in user trying to see news updates.

[2016-04-06 07:38] leocaseiro commented on #89
Hey @noxowe, you might want to have a look at the https://gitnotifier.io/ project. It does exactly what you're expecting. :smile:

[2016-04-07 10:26] weslleyaraujo commented on #13
`ctrl+wl` or  `ctrl+wh` just like vim binding to move between panels would be nice 🤘

[2016-04-14 13:39] AdrianoCahete commented on #90
Windows 10? :D

[2016-04-14 15:43] zenorocha commented on #90
Hey guys, the reason why I didn't release it is because the auto update part is not done yet. I'll make sure to let you all know once it's ready, ok? You're the best <3

[2016-04-14 21:43] andrenatal opened #93 "horizontal scrollbar not showing on firefox for Android"
The horizontal scrollbat it's not showing on ff for android [1] like on chrome for android [2]

[1] https://drive.google.com/file/d/0B6K4Obvmx9iZVGdPbHQ4aGlaTTg/view?usp=drivesdk

[2] https://drive.google.com/file/d/0B6K4Obvmx9iZNHNacjRNOU1xZ1U/view?usp=drivesdk

[2016-04-15 00:05] thiagogsr opened #94 "Lost connection"
Hi Zeno

I don't know what is happening but sometimes my devspace stops the auto refresh, maybe after sleep my macbook or toggle the internet connection. It works after refresh the page.

Thanks

[2016-04-17 23:34] victorgama commented on #90
I'm also interested in an OS X version! (:

[2016-04-18 12:17] renatomefidf commented on #90
I use Fedora :)

[2016-04-19 14:18] Wmitrut opened #95 "Glitch on the fonts change them from Patua One and Roboto for ComicSans"
Well, I was in Windows, Chrome 50.0.2661.75 with a 5mb connection and I experienced some type of glitch when I tried to log in Devspace... when I opened the landing page, the main fonts was replaced by ComicSans, can someone explain to me why that can happen?

![captura de tela 2016-04-19 11 05 57](https://cloud.githubusercontent.com/assets/5539257/14642330/72efb098-0620-11e6-9870-bdbcd6a2fb77.png

[2016-04-20 12:03] yguezeldal commented on #40
I would also like to see commit messages, but directly on the “card” it self. I think a tooltip is hiding information which is not ideal for having an overview what is cooking in a repo.

the info about pushed “1 commit” is not that useful imo

[2016-04-20 13:55] jfunez commented on #90
OS X and ubuntu here

[2016-04-24 17:51] zenorocha commented on #95
It seems like `cursive` (which is the fallback for our webfont) is not available on windows. I just changed it to be arial so this should be fixed now ;)

Thanks for reporting @Wmitrut!

[2016-04-24 17:51] #95 closed

[2016-04-25 05:37] zenorocha commented on #93
I'm using pure CSS to customize these scrollbars and unfortunately Firefox doesn't have support for it yet :/

Thanks for reporting @andrenatal ;D

[2016-04-25 05:37] #93 closed

[2016-04-26 14:01] andrenatal opened #96 "List with Mentions"
I'd like to have a column with every mention of my github handle.

[2016-04-27 11:52] MatthieuLemoine commented on #90
While waiting for the release, It's working well with [nativefier](https://github.com/jiahaog/nativefier) !

[2016-05-02 13:12] Jolg42 commented on #77
Hi!
I have the "Sorry, but you can't have more than 10 columns." message :( What's possible to add more columns ?

[2016-05-02 13:26] zenorocha commented on #77
Some people were maliciously adding dozens of columns so I had to add this limit. What would be a good limit for you?

[2016-05-02 13:37] Jolg42 commented on #77
That's sad :(
So for the limit I don't really know… But I am stuck at 10 for now, so 20 will be better for sure! But in the mid/long-term maybe you can add a paywall with a small fee for people who wants more columns?

[2016-05-02 19:23] devdrops opened #97 "Allow columns to filter issues"
As it seems, many organizations raise issues that are basic and, most of the time, easy to fix. Then they apply some specific label to identify such kind of issues (like https://github.com/issues?utf8=%E2%9C%93&q=is:open+is:issue+org:zendframework+label:EasyFix). Problem is, most of the contributors doesn't have the time to fix these issues. So that's exactly when other developers raise their hand

[2016-05-09 19:42] asotog opened #98 "Would be nice kind of desktop notification"
using kind of html5 notification api to track specific col or repo

[2016-05-09 22:06] zenorocha commented on #98
+1

[2016-05-09 22:06] #98 closed

[2016-05-17 21:34] mauricionr opened #99 "List all watched repositories on github"
Could be nice also see all watching repositories on devspace,

And when remove them from devspace, the app also remove from watching list on github.

got it?

Thankss! :smile:

[2016-05-20 13:52] Jolg42 commented on #77
@zenorocha Any news? 😇

[2016-05-23 16:13] zenorocha commented on #77
@Jolg42 just increased the limit to 20, make sure you clean your cache in order to work ;)

[2016-06-04 17:26] zenorocha commented on #41
Hey @rafaelrinaldi! It took a while but this feature is finally here. The implementation is a little bit different than you suggested but I think you're gonna like it ;)

![Preview](https://cloud.githubusercontent.com/assets/398893/15801066/d0cf28dc-2a3e-11e6-96d8-1fd0184e21b4.png)

[2016-06-04 17:27] #41 closed

[2016-06-04 17:46] rafaelrinaldi commented on #41
@zenorocha You nailed it 👌

[2016-06-04 17:51] zenorocha commented on #41
🎉

[2016-06-14 11:47] lucasbento commented on #94
An alert claiming "Lost connection" would be good for these situations.

Same thing happens here when I close my notebook for some time.

[2016-06-14 13:35] ftonato commented on #94
Hi **:)**

My sugestion to solve this problem is to use this feature: [Online State](https://whatwebcando.today/online-state.html)

[2016-06-14 15:30] zenorocha commented on #94
We already use this API. Try turning off your connection and turning on again ;)

![on-off](https://cloud.githubusercontent.com/assets/398893/16048755/21b37a5a-320a-11e6-9e0a-1e24f2c2b4ca.gif)

[2016-06-14 15:56] thiagogsr commented on #94
It is not the problem. There is connection but the feed is not
automatically updated.
On Jun 14, 2016 12:30 PM, "Zeno Rocha" <notifications@github.com> wrote:

[2016-06-14 16:26] zenorocha commented on #94
Are you using the desktop version?

[2016-06-14 16:42] thiagogsr commented on #94
No @zenorocha, the web version in Safari. Example: when I close my macbook and open it again, the feed is not updated until I reload the page.

[2016-06-14 17:33] zenorocha commented on #94
Ok, let me check @thiagogsr.

@lucasbento @ftonato are you using Safari as well?

[2016-06-14 17:36] ftonato commented on #94
@zenorocha I don't =(

[2016-06-14 17:37] zenorocha commented on #94
Are you having the same problem in other browsers?

[2016-06-14 17:52] thiagogsr commented on #94
I just use Safari but I'm starting it in another browser.
On Jun 14, 2016 2:37 PM, "Zeno Rocha" <notifications@github.com> wrote:

[2016-06-14 18:01] ftonato commented on #94
In Google Chrome it's working normally.

[2016-06-15 04:47] zenotest commented on #31
qwe

[2016-06-15 16:16] joaocarvalhowd commented on #1
:+1:

[2016-06-15 22:18] mauricionr commented on #1
:+1:

[2016-06-16 01:31] thiagogsr commented on #94
It not happens in Google Chrome

[2016-06-16 12:00] lucasbento commented on #94
@zenorocha I'm using Google Chrome but I guess my issue may be a little different, it does happen here.

If I don't use the notebook for a while and it stays blocked, DevSpace won't update untill I refresh it as @thiagogsr mentioned.

I'll take a look at the console if that happens again.

[2016-06-17 01:20] thiagogsr commented on #94
Yes, It has happening in Google Chrome too. I don't know if it helps, but see the console screenshot below.

![image](https://cloud.githubusercontent.com/assets/1802025/16138105/694e2db2-3410-11e6-8732-54027bd353b3.png)

[2016-06-22 14:41] rnicholus opened #100 "Stale notifications"
Let me start off this bug report by thanking all of the devspace people for creating such a useful service, and for free no less! I use it every day and this sort of thing has been missing from the GitHub experience for a while. Very impressive work.

The notifications icon appeared a couple days ago. I believe this is a new feature. But often, the number of notifications indicated on the icon is

[2016-06-22 17:30] zenorocha commented on #100
Hey @rnicholus! The entire DevSpace team (only me for now :P) appreciates your comment. I'm SUPER happy to know that this is being useful for you.

You're right about the bug, I noticed that the browser was caching the request, that's why it didn't update.

I just pushed a fix so try now and let me know what you think (remember to clear your service workers cache).

[2016-06-22 18:02] rnicholus commented on #100
Seems to be fixed! Thanks for the quick response.

[2016-06-22 18:02] #100 closed

[2016-06-22 18:13] zenorocha commented on #100
Awesome ;D

[2016-07-21 22:45] zenorocha commented on #55
Done in [v1.0.0-beta.8](https://github.com/devspace/devspace/releases/tag/v1.0.0-beta.8) ;)

![](https://cloud.githubusercontent.com/assets/398893/17038228/92fa1d2a-4f49-11e6-9983-27955b53cf9a.png)

Thanks @fdaciuk :)

[2016-07-21 22:45] #55 closed

[2016-07-21 22:53] zenorocha commented on #96
Hey @andrenatal, sorry for taking so reply. For now DevSpace only uses the Activities API for columns, that means we don't have access to this kind of information. But since [v1.0.0-beta.7](https://github.com/devspace/devspace/releases/tag/v1.0.0-beta.7) we added the Notifications icon which shows a counter for exactly what you want. In the future, we plan to have a whole UI dedicated to Notificat

[2016-07-21 22:53] #96 closed

[2016-07-21 22:57] zenorocha commented on #99
Hey @mauricionr, thanks for your suggestion. The `Home` column already does shows activities from all watching repositories. But unfortunately there's no way to unwatch a repository right now. We hope to add more in-app actions like Star/Unstar, Fork and Watch/Unwatch in the future #24.

[2016-07-21 22:57] #99 closed

[2016-07-21 23:14] mauricionr commented on #99
@zenorocha i mean

see the follwing image

![image](https://cloud.githubusercontent.com/assets/2263551/17041857/81ee93ea-4f7f-11e6-88d3-b1ef7f7d0f92.png)

Thanks!

[2016-07-21 23:27] zenorocha commented on #99
I see, this could be nice once we have a UI for Notifications.

[2016-07-25 23:32] zenorocha commented on #27
http://hovercards.com/

[2016-08-15 06:40] wildeyes opened #101 "Show repo short description, maybe even couple of first lines from the README"

[2016-08-18 02:53] devdrops opened #102 "'reopened issue' does not display issue icon"
The issue card has an icon with an exclamation point, but the card with a reopened issue doesn't have any icon at all :cry:.

Screenshot:
![screenshot](https://cloud.githubusercontent.com/assets/1259313/17760293/3041fcba-64d5-11e6-9942-2235806001ce.png)

Notice the issue icon found on the first card (from top to bottom), and then the lack of icon on a card from an equivalent subject (the 5th from

[2016-08-18 15:28] zenorocha commented on #102
Ohh, thanks @devdrops for reporting!

[2016-10-13 02:35] zenorocha commented on #102
This issue is finally fix, sorry for taking so long to reply @devdrops.

[2016-10-13 02:35] #102 closed

[2016-10-13 12:55] devdrops commented on #102
No problemo :)

[2016-11-03 14:26] obetomuniz opened #103 "Allow include column with trending topics"
Allow see the results from https://github.com/trending inside a new column type.

This column type should allow configuring Language (Including All and Unknown Languages) and Period.

[2016-11-03 14:51] obetomuniz commented on #103
Duplicate #37

[2016-11-03 14:51] #103 closed

[2016-12-29 17:29] devdrops opened #104 "Notification for deleted repository"
Sometimes I notice that someone I follow has created a new repository, but for any reason the same repository was deleted by this user few moments after the creation. DevSpace provides the notification for the creation but not for the destruction of the repository. I'm not an expert on the GitHub API but is this possible, to receive a notification when a repository is destroyed?

[2017-01-02 13:15] damianh commented on #90
Will the desktop app support personal access tokens? I would like to use this with private repositories and authorising third party access to devspace for organisations is not viable.

[2017-01-10 14:03] warpech commented on #77
Hi @zenorocha! I have also hit the limit of 10 columns (without any error notice displayed)... So is the actual limit 10 or 20? I believe I have cleared the cache and local storage.

[2017-03-14 02:38] avelino opened #105 "Friends commits on time line"

[2017-05-25 18:41] olpeh opened #106 "This page is using the development build of React. 🚧"
Note that the development build is not suitable for production.
Make sure to use the production build before deployment.

Just a heads up, most probably you know this already...

[2017-05-30 21:49] zenorocha commented on #106
Hey @olpeh, thanks for pointing it out ;)

[2017-06-15 13:24] kair4ik opened #107 "Ну допустим"
Тут типо баг можно создать

[2017-06-16 13:09] devdrops opened #108 "Wiki links are broken :("
Links to events like `xxx edited a wiki page on repo/abc` are formed with GitHub base URL as a prefix.

Example:

[code]

instead of

[code]

[2017-08-27 23:56] annacruz opened #109 "Private notifications and repos"
There's someway to see private notifications/repos?
Should be a good thing to monitorate some private repos of the company I work...

[2017-10-20 12:19] leonampd commented on #1
5 minutes using devspace, I missed this feature

[2017-10-29 21:18] damianh commented on #109
For this to happen, I believe this need to become a downloadable desktop app, like tweetenapp.com.

[2017-10-29 21:19] damianh opened #110 "Is this project alive or dead?"
No activity for some time.

If dead, perhaps open source the client code so a fork / community can take it on?

[2017-11-02 13:14] leonampd opened #111 "Area to check if someone needs a review"
It would be great if we have an area to check if someone mark us as reviewer on a PR.

[2017-12-04 14:07] abiduzz420 opened #112 "Make this project open source"
I would like to contribute to this project as I find it really helpful to track different open source projects. Since this project is built in React, I shall be able to contribute to it.

Please make the code open source, so that this project could further grow and become a must have tool for any one who's doing open source contributions.

Also comment on the issue if you feel the same as a sign o

[2017-12-04 16:42] zenorocha commented on #112
Hey @abiduzz420,

Thanks for starting this conversation. I like the idea to make this open source, but before I do it I want to make sure there are people committed to making it better. Are you willing to help and maintain it?

Thanks!

[2017-12-05 07:18] abiduzz420 commented on #112
I would be very happy to help this project grow. There are many feature requests in the issues and each one of us can pick an issue and start contributing in the form of discussions, code, writing tests and documentation.
I am willing to help and maintain the project @zenorocha :)
Cheers!

[2017-12-05 07:45] zenorocha commented on #112
In that case, here it is: https://github.com/devspace/devspace

[2017-12-05 07:45] #112 closed

[2017-12-05 07:45] zenorocha commented on #110
Hey @damianh @leonampd,

I decided to open source the project. Here's the source code in case you want to start contributing: https://github.com/devspace/devspace

[2017-12-05 07:45] #110 closed

[2017-12-05 07:52] abiduzz420 commented on #112
Thanks a lot! :1st_place_medal: :tada:

[2017-12-05 07:54] abiduzz420 commented on #13
@zenorocha I shall take up this issue. Please assign it to me.

[2017-12-05 16:39] zenorocha commented on #111
I really like this idea @leonampd!

[2017-12-05 16:41] zenorocha commented on #13
Cool!

[2017-12-07 09:54] leonampd commented on #111
@zenorocha thanks! I don't know if I can do that but, devspace is open now. So, I'll try! 😄

[2017-12-07 15:50] abiduzz420 opened #33 "Add Getting Started guide to README.md"
I would like to run it on my local machine, please add getting started section. @zenorocha

[2017-12-07 17:35] zenorocha commented on #111
Awesome ;D

[2017-12-07 21:40] #33 closed, assigned to nobody

[2017-12-07 21:40] zenorocha commented on #33
There you go ;)

[2017-12-08 16:42] devdrops opened #35 "Update of a pull request displayed as an issue"
The activity 240 is a pull request, but the update is reported as an issue.

![screenshot from 2017-12-08 12-35-55](https://user-images.githubusercontent.com/1259313/33775413-72a77a44-dc25-11e7-8426-be0da41d46a6.png)

[2017-12-08 17:02] zenorocha commented on #35
Thanks for reporting @devdrops!

@abiduzz420 can you try to reproduce this problem?

[2017-12-08 17:02] zenorocha commented on #35
By the way, code is open source now so feel free to take a look as well @devdrops ;)

[2017-12-09 12:19] abiduzz420 commented on #35
Ohkay @devdrops
Yeah sure! @zenorocha I will try reproducing it.

[2017-12-09 12:36] abiduzz420 commented on #35
@devdrops @zenorocha The comments and the discussion you have on pull request reviews are considered as `commented on pull request`. These comments have URL structure similar to `https://github.com/org_name/repo_name/pull/16#discussion_r155760766`
On the other side, when you make a general comment on a pull request it is taken as `commented on issue`. Such comments have URL structure as `https://g